setuptools
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu116
git+https://github.com/openai/whisper.git
av
certifi
cffi
charset-normalizer
click
coloredlogs
ctranslate2
emoji
faster-whisper
filelock
flatbuffers
fsspec
gTTS
huggingface-hub
humanfriendly
idna
Jinja2
joblib
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
nltk
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
onnxruntime
openai-whisper
packaging
pip
protobuf
PyAudio
pycparser
pydub
pyttsx3
PyYAML
RealTimeTTS
regex
requests
setuptools
SpeechRecognition
srt
stanza
stream2sentence
sympy
tiktoken
tokenizers
torch
tqdm
triton
typing_extensions
urllib3
vosk
websockets
